Django==2.2.27
celery==4.2.1
django-authtools==1.6.0
django-model-utils==3.1.2
django-solo==1.1.3
eth-utils==1.8.4
ethereum==2.3.2
factory-boy==2.11.1
requests==2.20.0
urllib3==1.24.2
web3[tester] == 5.5.1
eth-abi>=2.0.0b6,<3.0.0
coincurve>=7.0.0
future
pbkdf2
py_ecc
pyethash>=0.1.27,<1.0.0
pycryptodome>=3.4.7
pysha3>=1.0.1
PyYAML
repoze.lru
scrypt
